<div class="table-responsive">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Nick name</th>
	      <th scope="col">User name</th>
	      <th scope="col">Password</th>
	      <th scope="col" class="text-center">Show/Hide</th>
	      <th scope="col">Action</th>
	    </tr>
	  </thead>
	  <tbody>
        <ng-container *ngIf="!loading"> 
		    <tr *ngFor="let pwd of passwordList; trackBy : trackId">
		      <td><i [ngClass]="pwd.socialType | icon"></i> {{pwd.nickName}}</td>
		      <td>{{pwd.userName}}</td>
		      <td>{{pwd.showPwd ? pwd.password : '*******'}}</td>
		      <td class="text-center">
		      	<i [ngClass]="pwd.showPwd ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="TogglePassword(pwd)"></i>
		      </td>
		      <td>
		      	<a routerLink="/password/{{pwd.pwdId}}"><i class="fa fa-edit"></i></a> | <a><i class="fa fa-trash"></i></a>
		      </td>
		    </tr>
		</ng-container>
        <ng-container *ngIf="loading">
        	<tr>
        		<td colspan="5" class="text-center"><i class="fa fa-cog fa-spin"></i> Loading...</td>
        	</tr>
        </ng-container>
	  </tbody>
	</table>
</div>