<section id="login">	
	<div class="row">
		<div class="col-md-8 d-none d-sm-none d-md-block d-lg-block">
			<div class="pass-mngr">
				<h2>Password Manager</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<div class="row">
					<div class="col-md-4">
						<img src="../assets/images/Lock.png" width="200" height="200">
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="login">
				<h3>Password Manager</h3>

				<div *ngIf="showLoginForm">
					<pwd-login-form (toggleForm)="ToggleForms($event)"></pwd-login-form>
				</div>
				<div *ngIf="!showLoginForm">
					<pwd-register-form (toggleForm)="ToggleForms($event)"></pwd-register-form>
				</div>
			</div>
		</div>
	</div>
</section>